.modal-row {
    height: 49px;
    border-bottom: 1px solid #e0e2e4;
    z-index: 1 !important;
}

.modal-row:hover {
    background-color: #eff3f4 !important;
}

.modal-row>td {
    border-top: 0px !important;
}
.table-label {
    text-align: left;
    vertical-align: middle !important;
    font-size: 12pt !important;
    padding-left: 6px;
}

.table-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 !important;
}

.table-icon>div {
    display: flex;
    justify-content: flex-end;
}

.table-icon>div>button {
    padding: 0 !important;
    background-color: inherit !important;
}

.table-icon>div>button>div {
    z-index: 1 !important;
}

.subheader-wrapper>div>div {
    font-size: 12pt !important;
    padding-left: 0 !important;
    font-weight: 600 !important;
}